
/* --------GENERAL CSS ----------- */

.alert {
    background-color: #587c75;
    color: #ffffff;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    /* z-index: 1; */ /* Sit on top */
    position: absolute;
    top: 10px;
    right: 10px;
    width: 300px;
    text-align: center;
}

#mainDiv {
    background-image: url("../Components/Images/Background.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #587c75;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    opacity: 100%;
    background-blend-mode: normal;
    /* adding gradienet to the button */
    background-image: linear-gradient(to top, #587c75, #72a097);
}

button:hover {
    background-color: #72a097;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    opacity: 100%;
    background-blend-mode: normal;
    /* adding gradienet to the button */
    background-image: linear-gradient(to top, #72a097, #587c75);
}

header {
    width: 0%;
    height: 0%;
    background-color: #3fa0cd;
    color: #ffffff;
    margin: 0px ;
}

/* --------- LANDING PAGE CSS -------------- */

#loginForm {
    background-color: #fcfcfcaf;
    width: 60%;
    height: 70%;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0px 0px 10px 0px #000000;
    /* display: flex;
    justify-content: center; */
    align-items: center;
    justify-content: center;
    opacity: 95%;
    margin: 0px;
}

#loginForm input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

#loginForm label {
    font-size: small;
}

#submitDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

#submitDiv input {
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #587c75;
    background-color: #587c75;
    opacity: 1;
    color: #ffffff;
    margin-top: 10px;
}

/* ---------- TO DO CSS ----------------- */

#containerDiv {
    width: 40%;
    height: 60%;
    border-radius: 10px;
    padding: 30px;
    /* display: flex; */
}

/* took this code from stackOverflow, for getting the date button to show only the calender icon */
#dateSelectionDiv input[type="date"]::-webkit-inner-spin-button,
#dateSelectionDiv input[type="date"]::-webkit-calendar-picker-indicator {
    margin:0;
    opacity: 80%;
    background-color: transparent;
    justify-self: center;
}
#dateSelectionDiv input[type="date"]::-webkit-datetime-edit {
    display:none;
}

#dateSelectionDiv input {
    width: 5%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
    text-align: center;
    justify-self: start;
    margin-right: 10px;
    margin-bottom: 5px;
}

#dateSelectionDiv button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

#dateSelectionDiv {
    display: flex;
    flex-direction: row;
    width: 96%;
    padding: 10px;
    height: 40px;
    justify-content: space-around;
    /* background-color: #ffffff; */
    box-shadow: #000000 0px 0px 10px 0px;
    align-items: center;
    opacity: 70%;
    border-radius: 5px;
    font-size: small;
}

#dateSelectionLabelDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    opacity: 100%;
}

#toDoListDiv {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
  
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    margin: 0 auto;
    opacity: 90%;
}
  
#toDoListTable th, td {
    padding: 10px;
}
  
#toDoListTable th {
    background-color: #f2f2f2;
}
  
#toDoListTable tr {
    background-color: white;
}
  
#toDoListTable td {
    border-bottom: none;
}
  
#toDoListTable tr:hover {
    background-color: #f9f9f9;
}
  
#toDoListTable td:not(:last-child) {
    padding-right: 20px;
}
  
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

/* styling for the radio buttons, took a while to dial these in */
/* changed these to checkboxes for easier life */

input[type="checkbox"] { /* HIDE RADIO */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    margin: 0;
}
  
input[type="checkbox"]::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: transparent;
    margin-right: 6px;
}
  
input[type="checkbox"]:checked::before {
    content: '\2713'; /* Tick mark symbol */
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #000;
    background-color: #ccc;
}

/* now for styling the input buttons and stuff */

#formDiv {
    width: 30%;
    height: 50%;
    border-radius: 10px;
    padding: 30px;
    background-color: white;
}

#toDoListFormAdd {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    opacity: 100%;
    margin: 10px;
}

#formDiv input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

#formDiv button {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}


